.npmrc
bun.lockb
node_modules/
tests/
libs/
tests/
.gitignore
.npmignore
.npmrc
bun.lockb
lib.ts
main.js
package-lock.json
package.json
README.md
tsconfig.build.json
tsconfig.declaration.json
tsconfig.json